{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body %}
<h3>{% trans "Container" %}: {{ bucket_name }}</h3>
<div style="height: 400px; overflow-y: auto; padding-right: 5px;">
  <input type="hidden" name="bucket_name" value="{{ bucket_name }}" />
  <table class='table table-bordered'>
    <tr>
      <th rowspan="2">{% trans "User Name" %}</th>
      <th colspan="3">{% trans "Access Authority" %}</th>
      <th colspan="2">{% trans "Access Policy" %}</th>
    </tr>
    <tr>
      <th>{% trans "Readable" %}/<br>{% trans "Writable" %}</th>
      <th>{% trans "Readable" %}/<br>{% trans "Unwritable" %}</th>
      <th>{% trans "Unreadable" %}/<br>{% trans "Unwritable" %}</th>
      <th>{% trans "Readable" %}/<br>{% trans "Writable" %}</th>
      <th>{% trans "Unreadable" %}/<br>{% trans "Unwritable" %}</th>
    </tr>
    {% for row in records %}
    <tr>
      {% ifequal row.Access_authority "0" %}
      <td>
        {{ row.ID }}<input type="hidden" name="ID" value="{{ row.ID }}" />
      </td>
      <td style="text-align:center; background-color:#e2e2e2;">
        <input type="radio" value="1" disabled checked />
        <input type="hidden" value="1" name="{{ row.ID }}_Access_authority" />
      </td>
      <td style="text-align:center; background-color:#e2e2e2;">
        <input type="radio" value="2" disabled />
      </td>
      <td style="text-align:center; background-color:#e2e2e2;">
        <input type="radio" value="3" disabled />
      </td>
      <td style="text-align:center; background-color:#e2e2e2;">
        <input type="radio" value="1" disabled checked />
        <input type="hidden" value="1" name="{{ row.ID }}_Access_policy" />
      </td>
      <td style="text-align:center; background-color:#e2e2e2;">
        <input type="radio" value="3" disabled />
      </td>
      {% else %}
      <td>
        {{ row.ID }}<input type="hidden" name="ID" value="{{ row.ID }}" />
      </td>
      <td style="text-align:center; background-color:#ccd2f2;">
        <input type="radio" value="1"{% ifequal row.Access_authority "1" %} checked{% endifequal %} name="{{ row.ID }}_Access_authority" />
      </td>
      <td style="text-align:center; background-color:#ccd2f2;">
        <input type="radio" value="2"{% ifequal row.Access_authority "2" %} checked{% endifequal %} name="{{ row.ID }}_Access_authority" />
      </td>
      <td style="text-align:center; background-color:#ccd2f2;">
        <input type="radio" value="3"{% ifequal row.Access_authority "3" %} checked{% endifequal %} name="{{ row.ID }}_Access_authority" />
      </td>
      <td style="text-align:center; background-color:#d7e4f9;">
        <input type="radio" value="1"{% ifequal row.Access_policy "1" %} checked{% endifequal %} name="{{ row.ID }}_Access_policy" />
      </td>
      <td style="text-align:center; background-color:#d7e4f9;">
        <input type="radio" value="3"{% ifequal row.Access_policy "3" %} checked{% endifequal %} name="{{ row.ID }}_Access_policy" />
      </td>
      {% endifequal %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
